.container1{
    height: 300px;
    background-color: rgb(70, 196, 255);    
    border: 10px #ff0000 solid;
    display: flex;
}
.container2{
    height: 300px;
    background-color: rgb(70, 196, 255);    
    border: 10px #ff0000 solid;
    display: flex;
    flex-direction: row-reverse;
}
.container3{
    height: 300px;
    background-color: rgb(70, 196, 255);    
    border: 10px #ff0000 solid;
    display: flex;
    justify-content: flex-end;
}
.container4{
    height: 300px;
    background-color: rgb(70, 196, 255);    
    border: 10px #ff0000 solid;
    display: flex;
    justify-content: center;
}
.container5{
    height: 300px;
    background-color: rgb(70, 196, 255);    
    border: 10px #ff0000 solid;
    display: flex;
    justify-content: space-between;
}
.container6{
    height: 300px;
    background-color: rgb(70, 196, 255);    
    border: 10px #ff0000 solid;
    display: flex;
    justify-content: space-around;
}
.container7{
    height: 300px;
    background-color: rgb(70, 196, 255);    
    border: 10px #ff0000 solid;
    display: flex;
    justify-content: space-evenly;
}
.container8{
    height: 300px;
    background-color: rgb(70, 196, 255);    
    border: 10px #ff0000 solid;
    display: flex;
    align-items: flex-end;
    /* justify-content: space-evenly; */
}
.container9{
    height: 300px;
    background-color: rgb(70, 196, 255);    
    border: 10px #ff0000 solid;
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
}
.container10{
    height: 300px;
    background-color: rgb(70, 196, 255);    
    border: 10px #ff0000 solid;
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    /* justify-content: space-evenly; */
}
.container11{
    height: 300px;
    background-color: rgb(70, 196, 255);    
    border: 10px #ff0000 solid;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    /* align-items: center; */
    /* justify-content: space-evenly; */
}
.container12{
    height: 300px;
    background-color: rgb(70, 196, 255);    
    border: 10px #ff0000 solid;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    /* align-items: center; */
    /* justify-content: space-evenly; */
}
.container13{
    height: 300px;
    background-color: rgb(70, 196, 255);    
    border: 10px #ff0000 solid;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    /* align-items: center; */
    /* justify-content: space-evenly; */
}
.container14{
    height: 300px;
    background-color: rgb(70, 196, 255);    
    border: 10px #ff0000 solid;
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    /* align-items: center; */
    /* justify-content: space-evenly; */
}
.container15{
    height: 300px;
    background-color: rgb(70, 196, 255);    
    border: 10px #ff0000 solid;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    column-gap: 10px;
    row-gap: 10px;
    /* align-items: center; */
    /* justify-content: space-evenly; */
}
.box{
    width: 100px;
    height: 100px;
    border-radius: 20px;
    text-align: center;
    font-size: 50px;
}
#b1{
    background-color: blueviolet;
}
#b2{
    background-color: rgb(43, 226, 49);
}
#b3{
    background-color: rgb(226, 134, 43);
}
#b4{
    background-color: rgb(226, 43, 186);
}
#b5{
    background-color: rgb(226, 217, 43);
}
#b6{
    background-color: rgb(226, 43, 43);
}