body{
    margin: 0;
}
.nav{
    /* position: fixed; */
    background-image: linear-gradient(180deg,#6c6c6c 30%,#3a3a3a 100%);
    height: 50px;
    width: 100%;
    top: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;

}
.left-nav{
    /* background-color: aquamarine; */
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}
.right-nav{
    /* background-color: rgb(160, 255, 17); */
    width: 30%;
    height: 100%;
}
.logo{
    color: white;
    text-align: center;
    align-content: center;
    height: 100%;
    width: 20%;
    /* background-color: blue; */
}
.home{
    color: white;
    text-align: center;
    align-content: center;
    height: 100%;
    width: 20%;
    /* background-color: blue; */
}
.about{
    color: white;
    text-align: center;
    align-content: center;
    height: 100%;
    width: 20%;
    /* background-color: blue; */
}
.contact{
    color: white;
    text-align: center;
    align-content: center;
    height: 100%;
    width: 20%;
    /* background-color: blue; */
}
.content{
    margin-top: 50px;
}
.link{
    text-decoration: none;
    color: white;
}
.link:hover{
    color: #000000;
}